<!DOCTYPE html>
<html>
  <head>
    <title>Travel Journal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="/stylesheets/application.css">
  </head>

  <body>
   <p>
      <% if @current_user %>
        Logged in as: <%= @current_user.username %>
        <a href="/">Home</a>
        <%= button_to "Logout", "/sessions/logout", method: :delete %>
      <% else %>
        <a href="/sessions/new">Login</a> | <a href="/users/new">Signup</a>
      <% end %>
    </p>
    <div>
      <%= flash[:notice] %>
    </div>
   

    <%= yield %>
  </body>
</html>
